* {
  background-color: white;
  text-align: center;
}

.header {
  top: 0; 
  height: 50px;
  width: 100%;
  background-color: #223140;
  position: fixed;
  z-index: 2;
}

.logo {
  left: 0;
  height: 50px;
  width: 175px;
  position: fixed;
}



